.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #795548;
  color: white;
  text-align: center;
}

body {
  background-color: tan;
}

.sub {
  font-size: 16pt;
  color: #989898; 
  font: bolder;
}

button {
  background-color: tan;
  border-radius: 25pt;
  padding: 5px;
}

.bu {
  background-color: tan;
  border-radius: 25pt;
  padding: 5px;
}

.list {
  color: #3c3b3b;
  font-size: 14pt;
}
